
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home {
    background-color: var(--color-terciario);
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    width: 80%; 
    max-width: 800px; 
}

.home h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color-primario);
}
.home p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.home img {
    max-width: 80%; 
    margin: 8px auto ;
    border-radius: 10px;
}