
header {
    background-color: var(--color-primario);
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

.enlace {
    color: white;
    text-decoration: none;
}