*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #0a8821;
    --color-secundario: #53ac5f;
    --color-terciario: #D9EAD3;
    --color-texto: #333;
    --font-family: sans-serif;
}

